* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 15px;
}

.btnDiv button {
  padding: 10px;
  border: none;
  border-radius: 50%;
}

.container {
  max-width: 500px;
  margin-top: 50px;
  background-color: #221564;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
}

.form-control {
  padding: 10px 20px;
  border-radius: 30px;
}

.imgDiv img {
  width: 200px;
  height: 200px;
}

.tempDiv h1 {
  font-size: 62px;
}

.tempDiv span {
  font-size: 46px;
}

.cityNameHeading h1 {
  font-size: 46px;
};

.humidityWindImg {
  height: 5px !important;
}

.humidityWindDiv {
  width: 100%;
  padding: 0 20px;
  flex-wrap: wrap;
}

.humidityWindDiv p {
  margin-bottom: 0;
}

.historyBtn button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  border: 1px solid black;
  transition: all .3s;
}

.historyBtn button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

@media (max-width: 367px) {
  .humidityWindDiv {
    justify-content: center !important;
    gap: 15px;
  }
}